
/* Color Theme Swatches in RGBA */
.soft-purple-chiffon-texture-1-rgba { color: rgba(142, 107, 191, 1); }
.soft-purple-chiffon-texture-2-rgba { color: rgba(173, 143, 216, 1); }
.soft-purple-chiffon-texture-3-rgba { color: rgba(209, 186, 242, 1); }
.soft-purple-chiffon-texture-4-rgba { color: rgba(222, 208, 242, 1); }
.soft-purple-chiffon-texture-5-rgba { color: rgba(236, 232, 242, 1); }


font-family: 'EB Garamond', serif;
font-family: 'Poiret One', cursive;
font-family: 'Raleway', sans-serif;

#page-container {
    position: relative;
    min-height: 100vh;
  }

#content-wrap {
    padding-bottom: 2.5rem;}



header {
    background-color:  rgba(142, 107, 191, 1);
    padding: 0px;
    
    text-align: center;
    font-size: 25px;
    font-family: 'EB Garamond', serif;
    
    }

p {
    font-family: 'EB Garamond', serif;
    color: black;
    text-align: left;
    font-size: 20px;
}

body {
    background-color: rgba(236, 232, 242, 1);
    color: rgba(142, 107, 191, 1);
    font-family: 'Poiret One'   
    
}

div.gallery {
    margin: 5px;
    /*border: 1px solid #ccc;*/
    float: left;
    width: 180px;
    padding-bottom: 150px;
  }
  
  div.gallery:hover {
    border: 1px solid black;
  }
 
  div.gallery img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 15px;
    text-align: center;
color: black;}
 

/*#hp {
    color:black;
    font-family: 'EB Garamond', serif;
    font-size: x-large
     
}*/

#wife {
    border-radius: 50%;
    border: 1px solid black;
    width: 250px;
}
.pic {
    padding: auto;
}


.bcbsne {
border-radius: 4px;
border: 1px solid;
width: auto;
height: 90px;
flex: 30%;

 }
